body{
  margin-left:10px;
}


.App H1{
  color:rgb(216, 94, 13)
}
.App p{
  background: orange;
  border-radius: 10px;
  width: 95vw;
  padding: 10px;
}

.gameboard{
  letter-spacing: 0.3em;
  /* margin-left: 15px; */
  border-radius: 10px;
  background: #ccc;
  padding: 10px;
  width: 95vw;
}


.buttons{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  gap: 3px;
  min-width: 400px;
  flex-wrap: wrap;
}
.buttons button{
  font-size: 1.2em;
}
.letters{
  display: flex;
  margin-top: 30px;
}


span{
  background: #fff;
  margin-right: 1em;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 22px;
  height: 35px;
  text-align: center;
  font-size: 1.5em;
  font-weight: 700;
}

.hidden{
  display: none;
}